venv/
db.sqlite3
__pycache__/
media/
media/*
!media/.gitkeep
staticfiles
desktop.ini
celerybeat-schedule
.mypy_cache
celery_db
data
db_volume
debug.log
volumes
code
venv

*.log


# Migrations
**/migrations/**
!**/migrations/__init__.py
!**/migrations/
